@media (min-width: 1440px){
    body{
        max-width: 1440px;
        margin: 0 auto;
    }
    .navbar{
        margin: 0 16rem 0 14.8rem;
    }
    .navbar__hamburguer-menu{
        display: none;
    }
    .button--white{
        background-color: var(--Very-Light-Gray);
        color: var(--Dark-Violet);
        border: 0.2rem solid var(--Dark-Violet);
        width: 14rem;
        height: 4rem;
        margin: 0 0 0 2rem 
    }
    .navbar__desktop-menu{
        display: flex;
        list-style: none;
        align-items: center;
    }
    .navbar__desktop-menu li{
        font-family: 'Karla', sans-serif;
        color: var(--Dark-Grayish-Violet);
        font-size: 1.4rem;
        margin-inline-start: 2rem;
    }


    main{
        grid-template: repeat(34, 4.8rem) / repeat(auto-fill, 8.4rem);
    }


    .container-2{
        grid-area: 1 / 1 / 13 / 18 ;
        grid-template: repeat(12, 4.8rem) / repeat(auto-fill, 8.4rem);
    }
    .container-1{
        grid-area: 3 / 10 / 16 / 16;
        position: relative;
    }
    .container-2__background-mobil-1, .container-2__background-mobil-2{
        display: none;
    }
    .container-2__contend-container{
        align-items: start;
        position: relative;
        width: 58rem;
        height: 50rem;
        margin-inline-start: 16rem;
        margin-block-start: 9.8rem;
    }
    .title{
        text-align: left;
        line-height: 6rem;
        left: 16rem;
        font-size: 7.4rem;
        font-weight: 400;
    }
    .container-2__text{
        text-align: left;
        padding: 0;
        font-size: 1.7rem;
    }
    .button{
        width: 15rem;
    }
    .button-line{
        position: absolute;
        border-bottom: 0.1rem solid var(--Very-Light-Gray);
        width: 14.8rem;
        top: -21rem;
    }
    .container-2__background-desktop-1{
        display: block;
        grid-area: 1 / 13 / 11 / 18;
        position: static;
        width: 41rem;
        height: 48rem;
        object-fit: fill;
        z-index: 1;
    }
   
    .container-2__background-desktop-2{
        display: block;
        grid-area: 10 / 1 / 16 / 4;
        position: absolute;
        height: auto;
        width: auto;
        bottom: -40rem;
    }
    .button-line--2{
        display: block;
        border-bottom: 0.1rem solid var(--Dark-Grayish-Violet);
        top: -29rem;
    }



    .container-3 {
        display: flex;
        height: 41rem;
        grid-area: 20 / 3 / 24 / 16;
    }
    .container-3__contend-container{
        align-items: flex-start;
    }
    .title--2{
        left: 0;
        width: 50rem;
    }
    .container-3__text{
        padding: 0;
        text-align: left;
        font-size: 1.7rem;
    }
    .button-line--3{
        bottom: -12rem;
        width: 109rem;
        border-bottom: 0.2rem solid hsl(0deg 0% 92.55%);
    }


    .container-4{
        grid-area: 30 / 3 / 35 / 16;
        margin: 0 0;
    }
    .title--4{
        font-size: 6rem;
        text-align: left;
        padding: 0 45rem 0 0 ;
        top: 5.800000000000001rem;
        left: 8rem;
    }
    .button--2{
        top: 7.4rem;
        right: 8rem;
    }
    .container-4__background-image{
        display: none;
    }
    .container-4__background-img-2{
        display: inline-block;
        position: absolute;
        width:42rem;
        right: 0.2rem;
    }


    .container-5{
        grid-area: 1 / 1 / 2 / 2;
    }
    .container-5__background-image{
        display: none;
    }
    .navbar__logo--2{
        top: 18.299999999999997rem;
        left: 17rem;
    }
    .social-media-container{
        bottom: -8rem;
        right: 18.6rem;
    }


    .container-6{
        flex-direction: row;
        width: 100vw;
        height: 38rem;
        margin: 0 auto;
        justify-content: left;
        align-items: start;
        padding-block-start: 14rem;
    }
    .container-6__our-company{
        margin-inline-start: 17rem;
    }
    .container-6__HELP-ME, .container-6__CONTACT, .container-6__OTHERS{
        margin-inline-start: 18rem;
    }
    .container-6__subtitle{
        font-size: 1.4rem;
    }
    .container-6__text{
        font-size: 1.4rem;
    }
    .container-6__our-company{
        position: relative;
    }
    .container-6__background-image{
        display: block;
        position: absolute;
        width: 56rem;
        height: 23rem;
        top: -13rem;
        left: -18rem;
    }
    
    .button:hover{
        cursor: pointer;
    }
    

    footer{
        background-color: white;
    }
}